<section class="splash">
  <div class=SplashTitleArea>
    <h1 id="SplashTitle">Enter the world of literature </h1>
  </div>
  <%= button_to "Create Account", new_user_url, method: :get, class:"hvr-shadow-radial", id:"SignUp"  %>
  <%= button_to "Sign In", new_session_url, method: :get, class:"hvr-shadow-radial", id:"login"%>



</section>
<div class="logo" onclick="location.href='/'">
</div>

  <% if logged_in? %>
  <h4 class="header" id="username"><%= current_user.username %></h4>
  <%= button_to "SignOut", session_url, method: :delete, class: "headerButton" %>
  <% end %>
